<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Owner</title>
  </head>
  <body>
    <div style="text-align:center;">
    <h1>Create an Owner</h1>
    <form action="/owner" method="post">
      <label for="owner_name">Owner Name</label>
      <br><input type="text" name="owner[name]" placeholder="name"></br>

      <label for="owner_url">Optional Avatar Url</label>
      <br><input type="text" name="owner[avatar_url]" placeholder="image url"></br>
      <input type="submit" name="submit">
    </form>
    <br></br>
    <strong><a href="/">Home</a></strong>
  </div>
  </body>
</html>
