<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Owner</title>
  </head>
  <body>
    <h1>Fill out Form Below to Create yourself</h1>
    <form action="/owner" method="post">
      <label for="owner_name">Owner Name</label>
      <br><input type="text" name="owner[name]" placeholder="name"></br>

      <label for="owner_url">Optional Avatar Url</label>
      <br><input type="text" name="owner[avatar_url]" placeholder="image url"></br>
      <input type="submit" name="submit">
    </form>
  </body>
</html>
