<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome To Pokedash</title>
  </head>
  <body>
    <div style="text-align:center;">
    <img src="http://i.imgur.com/3VDjtG3.png" alt="header"/>
    <h1>Welcome to PokeDash</h1>
    <h4><a href="/owner">Click here to Visit Current Owners</a></h4>
    <h4><a href="/owner/new">Click here to Create a New Owner</a></h4>
    <h4><a href="/pokemon/new">Click here to Create a new Pokemon</a></h4>
  </div>
  </body>
</html>
